html { font-family: arial, helvetica , sans-serif;
}

body { 
  background-color: #FDFBDD;
}
h1 {font-family: Ariel, sans-serif;
            font-weight: lighter;
            font-size: 4rem;
            color: #f00;
}
h2 {
    color:inherit;
    font-size: 2rem;
    font-family:serif
}
h1 + p { font-size: 1.2rem;
        font-family:serif
}
img { align-content:center;
      border-color:#f00;
}
hr { color: #f00;
}

ol { font-size: .8rem;
}